@*@{ 
    ViewBag.AppTitle = "Turtle Diagram Generator";
}*@

<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

<br/>

<h1 class="text-center">Welcome to Turtle Diagram Generator</h1>
<br />
<p>
        The TDG application has been designed to support small entrepreneurs in the management and analysis of processes and the implementation of the process approach in the organization.
    
</p>

<br />
<p>
        It is also supposed to be a database informing about these processes and protecting this data against unauthorized persons.
</p>
<br />
<p>
    
</p>
<!--<div class="product-info">-->
    @*<h3>Duda</h3>*@
    <!--<div class="product-props">
        <table>
            <tr>-->
                @*<td>
                    <img src="~/img/duda.jpg" width="200" height="300" />
                </td>*@
                <!--<td>
                    <ul>
                        <li>Price: $9.99</li>
                        <li>Artist: Van Gogh</li>
                        <li>Title: Say Hello</li>
                        <li>Description: Self-portrait</li>
                    </ul>
                    <button id="buyButton" class="btn btn-success">Buy</button>
                </td>
            </tr>
        </table>
    </div>
</div>-->

@*<form class="theForm">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="email" /></td>
        </tr>
        <tr>
            <td><label>Passsword</label></td>
            <td><input type="text" /></td>
        </tr>
    </table>
    <div class="submit-button">
        <input type="submit" value="Send Message" />
    </div>
</form>*@

@*<div class="fa-align-center">
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Username</label>
            <input />
        </div>
        <div>
            <label>Password</label>
            <input type="password" />
        </div>
        <div>
            <input type="checkbox" />
            <label>Remember Me?</label>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>*@

