@page
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>Dutch Treat</title>
        <link href="css/site.css" rel="stylesheet" />
    </head>
    <body>
        <h1>
            Dutch Treat
        </h1>
        <div class="product-info">
            <h3>Duda</h3>
            <div class="product-props">
                <table>
                    <tr>
                        <td>
                            <img src="img/duda.jpg" />
                        </td>
                        <td>
                            <ul>
                                <li>Price: $9.99</li>
                                <li>Artist: Van Gogh</li>
                                <li>Title: Say Hello</li>
                                <li>Description: Self-portrait</li>
                            </ul>
                            <button>Buy</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <form class="theForm">
            <table>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="email" /></td>
                </tr>
                <tr>
                    <td><label>Passsword</label></td>
                    <td><input type="text" /></td>
                </tr>
            </table>
            <div class="submit-button">
                <input type="submit" value="Send Message" />
            </div>
        </form>
    </body>
</html>
